footer {
    background-color: $color3;
}

.redes {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    padding: $xl 0;
    &__logos{
        display: flex;
        justify-content: center;
        img{            
            width: 9vw;            
        }
    }
}
.info {    
        display: flex;
        flex-direction: column;
        align-items: center;  
        &__direccion{
            display: flex;
            flex-direction: column;
            align-items: center; 
        }
        img{
            width: 25vw;
            margin-bottom: $l;
        }
}